/* header */
.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
}

.first-logo {
    text-decoration: none;
    margin-right: 77px;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.first-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

/* container */

.container {
    width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    
}

.second-container {
    padding-top: 120px;
}
.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    position: relative;
    padding-bottom: 27px;
}
 
.menu-link.link.current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #4D5AE5;
    border-radius: 2px;
    color: #4D5AE5;
}
.current {
    color: #4D5AE5;
}
.menu-item:not(:last-child) {
    margin-right: 40px; 
}

.menu-link:hover,
.menu-link:focus {
    color: #4D5AE5;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
    margin-right: 40px;
}

.contacts-info {
    margin-left: auto;
    margin-right: 40px;
}

.contacts:hover,
.contacts:focus{
    color: #4D5AE5;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    text-decoration: none;
}

/* main */
.hero {
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    padding-right: 12px;
    padding-left: 12px;
    background-image: linear-gradient( rgba(46, 47, 66, 0.699),rgba(46, 47, 66, 0.699)), url('../images/people-office.jpg');
    background-size: cover;
    background-color: #2E2F42;;
}

h1 { 
    width: 496px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin: 0 auto;
}


.modal-btn {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: transparent;
    cursor:pointer;
    color: #ffffff;
    background-color: #4D5AE5;
    margin-top:  48px;
    text-align: center
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF ;
    transition-property: background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-backgound {
   background-color:  #F4F4FD;
   border-radius: 4px;
   height: 112px;
   width: 264px;
   margin-bottom: 8px;
   display: flex;
   align-items: center; 
   justify-content: center;
}

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.logo-list {
    display: flex;
    gap: 24px;
}

.logo-list-item {
    width: 168px ;
    height:88px ;

}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  #4D5AE5;;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color:#404BBF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-list-item {
    padding-top: 8px;
}

.item:not(:last-child) {
    margin-right: 24px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.photos {
    padding-top: 120px;
    padding-bottom: 120px;
}

.photo-item {
    width: 1158px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

.photo:not(:last-child){
    margin-right: 24px;
}

.our-team-background {
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.photo-list-item {
    margin-bottom: 72px;
}

.photo-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.team-photos:not(:last-child) {
    margin-right: 24px;
}

.team {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-top: 32px; 
    padding-bottom: 32px;
}

.name {
    margin-bottom: 8px;
}

/* portfolio */

.buttons-list-item {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-btn-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor:pointer;
    background: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-property:background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list:not(:last-child) {
    margin-right: 24px;
}

.buttons-item {
    width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.images {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.content-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
}

.photo-text {
   margin-bottom: 8px;  
}

.text-item {
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 32px;
    padding-bottom: 32px ;
    padding-left: 16px;
}
.text-item:hover,
.text-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer {
    display: flex;
    background: #2E2F42;
    padding-right: 12px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.second-logo {
    text-decoration: none;
}

.second-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    margin-bottom: 16px;
}

.footer-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
}
h4 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: auto;
    padding-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-list-link {
    display: flex;
    width: 40px;
    height: 40px;

    background: rgba(255, 255, 255, 0.1);  

    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.footer-list-link:hover,
.footer-list-link:focus {
    background-color: #31D0AA;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;  
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-container {
    display: flex;
}

.logo {
    margin-right: 120px;
}
.customer-background {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: 100%;
    color:grey;
    border: 1px solid grey;
}

.customer-background:hover,
.customer-background:focus {
    color: #4D5AE5;
    border: 1px solid #4D5AE5;
    transition-property: color,border ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.logo-icons {
    fill: currentColor;
}

.logo-list-item {
    color: #8E8F99;
}

.team-link-list-wrapper {
    display: block;
}
 
.overlay {
    font-size: 16px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition-property: background-color;
    transition-duration: 3s ; 
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-img-wrapper  {
    position: relative;
    display: block;
    overflow: hidden;
}
.content-item:hover .overlay {
    transform: translate(0,0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width:408px;
    height:576px;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    background-color: #E7E9FC;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #E7E9FC;
    transition-property:background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn-icon-close {
    width: 8px;
    height: 8px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}